@import 'src/assets/styles/global/mixins/mixins';
@import 'src/assets/styles/global/valiables/valiables';

.blogDetailsPage {
  $MAX_CONTENT_WIDTH: 1240px;
  $LEFT_OR_RIGHT_MINIMAL_EQUAL_PADDINGS__WIDE_SCREENS: 34px;

  $wideScreen: $MAX_CONTENT_WIDTH + 2 * $LEFT_OR_RIGHT_MINIMAL_EQUAL_PADDINGS__WIDE_SCREENS;

  $MEDIUM_SCREENS__MINIMAL_WIDTH: 580px;

  @mixin WideScreen() {
    @media screen and (min-width: $wideScreen) {
      @content;
    }
  }

  @mixin MediumScreen() {
    @media screen and (min-width: $MEDIUM_SCREENS__MINIMAL_WIDTH) and (max-width: $wideScreen) {
      @content;
    }
  }

  @mixin SmallScreen() {
    @media screen and (max-width: $MEDIUM_SCREENS__MINIMAL_WIDTH) {
      @content;
    }
  }

  @mixin WideAndMediumScreen() {
    @media screen and (min-width: $MEDIUM_SCREENS__MINIMAL_WIDTH) {
      @content;
    }
  }

  @mixin MediumAndSmallScreen() {
    @media screen and (max-width: $wideScreen) {
      @content;
    }
  }

  $LEFT_AND_RIGHT_CONTENT_WIDTH_PERCENTAGE: 5%;

  background: $BASE_COLOR_BLUE_GRAY;

  .mainSection {
    margin-top: 35px;

    @include WideScreen() {
      display: grid;
      grid-template-columns: 1fr 325px;
      column-gap: 32px;

      @include CenteredContentWithComputedSidePaddings($MAX_CONTENT_WIDTH);
    }

    @include MediumAndSmallScreen() {
      @include EqualLeftAndRightPaddings($LEFT_AND_RIGHT_CONTENT_WIDTH_PERCENTAGE);
    }
  }

  .categoriesFlow {
    display: flex;
    flex-wrap: wrap;
    //gap: 10px; safariが対応したら、componentのstyleを消して、gapを使う

    margin-top: 10px;
  }

  .container {
    margin-right: 10px;
    margin-top: 5px;
  }

  .blogImage {
    //aspect-ratio: 16/9; サファリがサポートされたらこっちに変更
    padding-top: 56.25%; /* 高さと幅の比を16:9に固定。9/16*100=56.25 */

    background-size: cover;
    background-position: center;

    border-radius: 5px;

    box-shadow: 0 -3px 10px rgba(#123d52, 0.2);

    margin-top: 30px;
  }

  .publishedDate {
    font-size: 12px;
    color: $ACCENT_COLOR_PURPLE;

    margin-top: 15px;
  }

  // - 記事詳細のスタイル
  .blogContent {
    background: #ffffff;
    box-shadow: 0 -3px 10px rgba(#123d52, 0.2);
    border-radius: 30px;

    margin-top: 30px;

    overflow-wrap: break-word;

    @include WideScreen() {
      &:last-child {
        margin-bottom: 90px;
      }
    }

    @include WideAndMediumScreen() {
      @include EqualTopAndBottomPaddings(30px);
      @include EqualLeftAndRightPaddings(2%);
    }

    @include SmallScreen() {
      @include EqualTopAndBottomPaddings(30px);
      @include EqualLeftAndRightPaddings($LEFT_AND_RIGHT_CONTENT_WIDTH_PERCENTAGE);
      @include EqualLeftAndRightMargin(-$LEFT_AND_RIGHT_CONTENT_WIDTH_PERCENTAGE);
    }

    @mixin headingBorderBottom() {
      border-bottom: 1px solid $BASE_COLOR_BLUE_GRAY;
      padding-bottom: 10px;
    }

    h2 {
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 1.25px;

      @include headingBorderBottom();
    }

    h3 {
      font-size: 21px;
      font-weight: bold;
      letter-spacing: 1.25px;

      @include headingBorderBottom();
    }

    h4 {
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 1.25px;

      @include headingBorderBottom();
    }

    pre {
      max-width: 900px;

      border-radius: 3px;
      line-height: 24px;
      letter-spacing: 0.3px;

      code {
        border-radius: 5px;
      }
    }

    @mixin fontRegularStyle() {
      font-size: 14px;
      letter-spacing: 1.05px;
      line-height: 22px;
    }

    p {
      @include fontRegularStyle();
    }

    a {
      display: inline-block;

      color: #11adf8;
      @include fontRegularStyle();
    }

    ul {
      li {
        @include fontRegularStyle();
      }
    }

    ol {
      li {
        @include fontRegularStyle();
      }
    }

    span {
      display: inline-block;

      @include fontRegularStyle();
    }

    img {
      @include MediumAndSmallScreen() {
        width: 100%;
      }
    }
  }

  .sideBar {
    @include MediumAndSmallScreen {
      &:last-child {
        padding-bottom: 90px;
      }
    }
  }

  // - 目次 =============================================================================================================
  .TableOfContents {
    @include WideScreen() {
      position: sticky;
      top: 30px;
    }

    @include MediumAndSmallScreen() {
      display: none;
    }
  }

  // - カテゴリー一覧
  .heading3 {
    font-size: 18px;
    border-bottom: 1px solid #b0b0c6;
    padding-bottom: 10px;

    margin-top: 30px;
  }
}
