@import 'src/assets/styles/global/mixins/mixins';
@import 'src/assets/styles/global/valiables/valiables';

.breadcrumb {
  $MAX_CONTENT_WIDTH: 1240px;
  $LEFT_OR_RIGHT_MINIMAL_EQUAL_PADDINGS__WIDE_SCREENS: 34px;

  $wideScreen: $MAX_CONTENT_WIDTH + 2 * $LEFT_OR_RIGHT_MINIMAL_EQUAL_PADDINGS__WIDE_SCREENS;

  @mixin WideScreen() {
    @media screen and (min-width: $wideScreen) {
      @content;
    }
  }

  @mixin MediumAndSmallScreen() {
    @media screen and (max-width: $wideScreen) {
      @content;
    }
  }

  @include WideScreen() {
    @include CenteredContentWithComputedSidePaddings($MAX_CONTENT_WIDTH);
  }

  @include MediumAndSmallScreen() {
    @include EqualLeftAndRightPaddings(5%);
  }

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  padding-top: 10px;
  padding-bottom: 10px;

  background: #e9e9f0;

  .label {
    color: #7e6b6b;
    text-decoration: none;

    font-size: 12px;

    &:hover {
      text-decoration: underline;
    }

    &:focus,
    &:active {
      opacity: 0.6;
    }
  }

  .guide {
    @include EqualLeftAndRightPaddings(10px);

    color: #7e6b6b;
  }

  .label__noLink {
    color: #222222;

    font-size: 12px;
  }
}
