@import 'src/assets/styles/global/mixins/mixins';
@import 'src/assets/styles/global/valiables/valiables';

.blogCard {
  background: white;
  border: 4px solid white;
  box-shadow: 0 -3px 10px rgba(#123d52, 0.2);
  border-radius: 5px;

  @include EqualLeftAndRightPaddings(7px);
  padding-top: 7px;
  padding-bottom: 20px;

  color: #222222;
  text-decoration: none;

  cursor: pointer;

  &:hover {
    border: 4px solid $MAIN_COLOR_SKY_BLUE;

    transition: all 300ms ease-in-out;
    transform: scale(1.05);
  }

  &:active,
  &:focus {
    opacity: 0.7;
  }

  .image {
    //aspect-ratio: 16/9; サファリがサポートされたらこっちに変更
    padding-top: 56.25%; /* 高さと幅の比を16:9に固定。9/16*100=56.25 */

    background-size: cover;
    background-position: center;
    @include EqualLeftAndRightMargin(-7px);
    margin-top: -7px;
  }

  .categoriesFlow {
    display: flex;
    flex-wrap: wrap;
    //gap: 5px; safariが対応したらgapを使うcomponentのstyleを削除する

    margin-top: 10px;
  }

  .createdAt {
    margin-top: 13px;
  }

  &:hover .createdAt {
    color: $MAIN_COLOR_SKY_BLUE;
  }

  .blogTitle {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;

    margin-top: 10px;

    @include textOverflowSpecifyTheNumberOfLines(3);
  }

  &:hover .blogTitle {
    color: $MAIN_COLOR_SKY_BLUE;
  }
}
