.iconAndLink {
  display: flex;
  align-items: center;
  /* //column-gap: 6px; */

  text-decoration: none;

  cursor: pointer;
}
.icon {
  margin-right: 6px;
  /* // - safariが対応したら上のgapを使う */

  /* fill: $ACCENT_COLOR_PURPLE; */
}

.label {
  /* color: $ACCENT_COLOR_PURPLE; */
}
